@model mvc.Models.Product

@{
    ViewData["Title"] = "Edit";
}
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://parsleyjs.org/dist/parsley.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://parsleyjs.org/src/parsley.css">
</head>

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" data-parsley-validate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required  data-parsley-length="[2,19]" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.Name" class="control-label">Choose SubCategory</label><br />
                <select asp-for="SubCategory.Name" id="dropdown" class="custom-select">
                    @foreach (var student in ViewBag.Subs)
                    {
                        @if (student.IdCategory == Model.SubCategory.IdCategory)
                        {
                            <option>@student.Name</option>
                        }

                    }
                </select>
            </div>
          
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required data-parsley-length="[2,199]" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expiraydate" class="control-label"></label>
                <input asp-for="Expiraydate" class="form-control" required />
                <span asp-validation-for="Expiraydate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
